*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #dee5e6;
  width: 100vw;
}

footer,
header {
  padding: 1.5rem;
  background: #3b3d4a;
  width: 100%;
}

footer a {
  color: #71727f;
  text-decoration: none;
}

header {
  text-align: center;
}
canvas {
  margin: 10px;
}

.upload {
  padding: 10px;
  background-color: #71727f;
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
}

input {
  display: block;
  margin: 5px 0px;
}
